.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.notFound {
  font-size: 48px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 20px;
}

.homeLink {
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
}

.homeLink:hover {
  text-decoration: underline;
}
